@import "constants";

#landing{
    border:3px solid $color-primary;
    border-radius: 5px; 
}  

.article-picture{
    height: 280px;
    width: 460px;
    background-color: red;
    border-radius: 5px;
}